flp2d2dfanalytics01d/PartialArmTemplates/ArmTemplate_8_7_2019_18_33_39.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "flp2d2dfanalytics01d"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/_Process Type 5 - Execute Sproc in Data Warehouse Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Execute a Stored Procedure in the Data Warehouse Database.",
				"activities": [
					{
						"name": "Process Entity",
						"description": "Process each individual Entity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter out Invalid Entities",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter out Invalid Entities').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set Process Start Time",
									"description": "Set the LastRunStartTime for this Entity",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Process].[up_UpdateEntityProcessStartTime]",
										"storedProcedureParameters": {
											"EntityKey": {
												"value": {
													"value": "@item().EntityKey",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ControlDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Translate JSON Variables",
									"description": "Accept four parameters, VariablesJSON, OverrideVariablesJSON, ConfigurationJSON and DefaultsJSON and translate into a recordset where the columns are a representation of the nodes in the resultant JSON.",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "Set Process Start Time",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "TranslateVariables",
										"method": "POST",
										"body": {
											"value": "@item()",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureFunctions",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Indicate Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Decorator",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Process].[up_UpdateEntityDiagnostics]",
										"storedProcedureParameters": {
											"EntityKey": {
												"value": {
													"value": "@item().EntityKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Result": {
												"value": "Success",
												"type": "String"
											},
											"ExecutionMessage": {
												"value": {
													"value": "@{activity('Translate JSON Variables').output.result.DecoratorSproc} - Success",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ControlDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Decorator",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "If Extract Control Applies",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{activity('Translate JSON Variables').output.result.DecoratorSproc}",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"ExtractControl": {
												"value": {
													"value": "@if(equals(activity('Translate JSON Variables').output.result.ExtractControl, ''), null, activity('Translate JSON Variables').output.result.ExtractControl) ",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataWarehouseDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Indicate Failure in Merge",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Decorator",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Process].[up_UpdateEntityDiagnostics]",
										"storedProcedureParameters": {
											"EntityKey": {
												"value": {
													"value": "@item().EntityKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"ExecutionMessage": {
												"value": {
													"value": "Error in Data Factory '@{pipeline().DataFactory}' | Pipeline '@{pipeline().Pipeline}' | Decorator Sproc '@{activity('Translate JSON Variables').output.result.DecoratorSproc}' | @{activity('Execute Decorator').Error.message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"Result": {
												"value": "Failure",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ControlDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Extract Control Applies",
									"description": "If the Variable ExtractControlQuery is not blank, execute this query to return a value for Extract Control.  This is used only in incremental/changeset type extracts.",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Translate JSON Variables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(activity('Translate JSON Variables').output.result.ExtractControlQuery, '')) ",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Lookup the Next Extract Control",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@activity('Translate JSON Variables').output.result.ExtractControlQuery",
															"type": "Expression"
														}
													},
													"dataset": {
														"referenceName": "DataWarehouseDB_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"TableName": {
																"value": "@toLower('')",
																"type": "Expression"
															}
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "Set Next Extract Control",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Indicate Success",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(activity('Translate JSON Variables').output.result.ExtractControlQuery, '')) ",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set Next Extract Control Value",
												"description": "Update the ExtractControl for this Process Entity",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[Process].[up_SetOverrideVariable]",
													"storedProcedureParameters": {
														"EntityKey": {
															"value": {
																"value": "@item().EntityKey",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"VariableName": {
															"value": "$.ExtractControl",
															"type": "String"
														},
														"VariableValue": {
															"value": {
																"value": "@string(activity('Lookup the Next Extract Control').output.firstRow.ExtractControl)",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ControlDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Get Entities to Process",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[Process].[up_GetEntitiesToProcess]",
								"storedProcedureParameters": {
									"BatchSize": {
										"type": "Int32",
										"value": "999999"
									},
									"EntityGroupKeyList": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.EntityGroupKeyList",
											"type": "Expression"
										}
									},
									"ProcessTypeKey": {
										"type": "Int32",
										"value": {
											"value": "@variables('ProcessTypeKey')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "ControlDB_Dataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter out Invalid Entities",
						"description": "If the EntityKey < 0, filter out.  An EntityKey of -1 is used to indicate there are no Entities to Process.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Entities to Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Entities to Process').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(item().EntityKey, 0)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EntityGroupKeyList": {
						"type": "String",
						"defaultValue": "2"
					}
				},
				"variables": {
					"ProcessTypeKey": {
						"type": "String",
						"defaultValue": "5"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/_Process Type 9 - Execute Sproc in Control Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Execute a Stored Procedure in the Control Database.\n\nThe HasProcessed flag on the Entity will be set to True if the Stored Procedure does not return an error.",
				"activities": [
					{
						"name": "Process Entity",
						"description": "Process each individual Entity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter out Invalid Entities",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter out Invalid Entities').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set Process Start Time",
									"description": "Set the LastRunStartTime for this Entity",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Process].[up_UpdateEntityProcessStartTime]",
										"storedProcedureParameters": {
											"EntityKey": {
												"value": {
													"value": "@item().EntityKey",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ControlDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Translate JSON Variables",
									"description": "Accept four parameters, VariablesJSON, OverrideVariablesJSON, ConfigurationJSON and DefaultsJSON and translate into a recordset where the columns are a representation of the nodes in the resultant JSON.",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "Set Process Start Time",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "TranslateVariables",
										"method": "POST",
										"body": {
											"value": "@item()",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureFunctions",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Indicate Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Stored Procedure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Process].[up_UpdateEntityDiagnostics]",
										"storedProcedureParameters": {
											"EntityKey": {
												"value": {
													"value": "@item().EntityKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Result": {
												"value": "Success",
												"type": "String"
											},
											"ExecutionMessage": {
												"value": {
													"value": "Success in Data Factory '@{pipeline().DataFactory}' | Pipeline '@{pipeline().Pipeline}' for '@{activity('Translate JSON Variables').output.result.SprocToExecute}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ControlDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Indicate Failure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Stored Procedure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Process].[up_UpdateEntityDiagnostics]",
										"storedProcedureParameters": {
											"EntityKey": {
												"value": {
													"value": "@item().EntityKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"ExecutionMessage": {
												"value": {
													"value": "Error in Data Factory '@{pipeline().DataFactory}' | Pipeline '@{pipeline().Pipeline}' for '@{activity('Translate JSON Variables').output.result.SprocToExecute}",
													"type": "Expression"
												},
												"type": "String"
											},
											"Result": {
												"value": "Failure",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ControlDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Stored Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Translate JSON Variables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@activity('Translate JSON Variables').output.result.SprocToExecute",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "ControlDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Get Entities to Process",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[Process].[up_GetEntitiesToProcess]",
								"storedProcedureParameters": {
									"BatchSize": {
										"type": "Int32",
										"value": "999999"
									},
									"EntityGroupKeyList": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.EntityGroupKeyList",
											"type": "Expression"
										}
									},
									"ProcessTypeKey": {
										"type": "Int32",
										"value": {
											"value": "@variables('ProcessTypeKey')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "ControlDB_Dataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter out Invalid Entities",
						"description": "If the EntityKey < 0, filter out.  An EntityKey of -1 is used to indicate there are no Entities to Process.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Entities to Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Entities to Process').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(item().EntityKey, 0)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EntityGroupKeyList": {
						"type": "String",
						"defaultValue": "5"
					}
				},
				"variables": {
					"ProcessTypeKey": {
						"type": "String",
						"defaultValue": "9"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run every fifteen minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "_Process Type 9 - Execute Sproc in Control Database",
							"type": "PipelineReference"
						},
						"parameters": {
							"EntityGroupKeyList": "9"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2019-08-07T08:54:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/_Process Type 9 - Execute Sproc in Control Database')]"
			]
		}
	]
}